.btn-see-product {
    background-color: var(--color-primary-pink);
}

.btn-see-product:hover {
    background-color: var(--color-primary-pink-hover);
}

.btn-add-product{
    background-color: var(--color-second-blue-hover);
    color: rgb(0, 0, 0) !important;
    border-color: rgb(0, 0, 0) !important;
}

.btn-add-product:hover{
    background-color: rgb(104, 104, 235);
    color: var(--white) !important;
    border-color:rgb(104, 104, 235) !important ;
}

.btn-see-order{
    background-color:rgb(245, 245, 163);
    color: var(--black) !important;
    border-color: rgb(252, 252, 126) !important;
}

.btn-see-order:hover{
    color: var(--white) !important;
}

.btn-acces{
    justify-content: space-between;
}

