:root {
  --color-primary-pink: rgb(209, 156, 151);
  --color-primary-pink-hover: rgb(193, 122, 116);
  --color-second-blue: #EDF1FF ;
  --color-second-blue-hover: #c7d3ff;
  --white: #fff;
  --black: #000;
}


.welcome-user-message{      
  text-align: left;
  padding: 10px;
  background-color: var(--color-primary-pink);
  color: var(--white);
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

.btn-back-page{
    margin-top: 10px;
    font-weight: bolder;
    background-color: var(--color-second-blue-hover);
}

.btn-back-page:hover{
    background-color: var(--color-second-blue);
}

.margin-bottom{
  margin-bottom: 40px;
}

.logo{
  margin-top: 40px;
}