.login-container {
    background-color: var(--color-second-blue) !important;
}

.container-logo-login{
    margin-left: 40px;
}

.btn-back-page{
    margin-bottom: 40px;
}

.img-login, span{
    color: var(--color-primary-black) !important;
}

.logo-login-text{
    color: var(--color-primary-black) !important;
}

.card-login{
    margin-bottom: 200px;
}

.animate__animated{
    background-color: var(--color-second-blue-hover);
}

.btn-login{
    background-color:var(--white);
}

.btn-login:hover{
    background-color:var(--color-primary-black) ;
}